p {
    margin: 0;
}
button[type=button] {
    padding: 15px 5px;
    border: none;
    background: lightblue;
    color: coral;
    cursor: pointer;
}
button:hover {
    background: rgb(18, 18, 151);
}
*:not(h2) {
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}